<%= link_to "Back", books_path %>
<div class="book">
    <div>
        <h1><%= @book.title %></h1>
        <p>by <%= @book.author %></p>
        <p>ISBN: <%= @book.isbn %></p>
    </div>
    <div>
        <%= button_to "Borrow" %>
    </div>
</div>